@tailwind base;
@tailwind components;
@tailwind utilities;

.disabled-background {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.button--fancy {
  padding: 0;
  background: none;

  max-width: 344px;
  min-width: 270px;

  min-height: 52px;

  color: black;
  background-color: black;
  background-color: white;
  border-radius: 18px;
  z-index: unset;
  box-shadow: 0 15px 0 black;
}

.button--fancy:hover {
  background-color: var(--accent-color);
  color: white;
}

.button--fancy::after:hover {
  background-color: var(--game-background-color2);
  color: white;
}

.button--fancy.disabled {
  color: rgb(214, 212, 212);
  background-color: gray;
}

button.button--fancy:disabled,
button.button--fancy[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #aca0a0;
}

.player-card-small-container {
  height: 80px;
  display: none;
}

.nav-bar button {
  width: 130px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

.parent {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10002;
}

.modal {
  max-width: 400px;
  color: #fff;
  padding: 20px;
  background-color: var(--game-background-color1);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 15px 0 black;
}

.pad-top-100 {
  padding-top: 144px;
}

button {
  background-color: var(--game-background-color2);
  border-radius: 28px;
  border: 1px solid var(--game-background-color2);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 16px 31px;
  text-decoration: none;
  line-height: 0px;
  height: 40px;
}
button:hover {
  border: 1px solid white;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  color: black;
  border: 0px solid white;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  color: black;
  --player1-color: #fd6687;
  --player2-color: #ffce67;
  --accent-color: #fd6687;
}

.game-board-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.game-board-container {
  position: relative;
  min-width: min(62vmin);
  min-height: calc(58.3vmin + 40px);
}

.smiley-container {
  height: clamp(1rem, 10.1vmin, 3.5rem);
}

.smiley-container-yellow {
  margin-right: -7vmin;
}

.smiley-container-red {
  margin-left: -7vmin;
}

.nav-bar img {
  height: 9vmin;
}

@media only screen and (max-width: 707px) {
  .game-board-container {
    min-width: min(70vmin);
    min-height: calc(65.8vmin + 40px);
  }

  .player-card-small-container {
    margin-top: 13px;
  }

  .dropzone {
    max-width: 62vmax;
  }

  .player-card {
    display: none;
  }

  .player-card-small-container {
    display: flex;
    min-width: 62vmax;
  }

  .game-board-items {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 640px) {
  .game-board-container {
    min-width: min(80vmin);
    min-height: calc(75.2vmin + 40px);
  }

  .player-card {
    display: none;
  }

  .player-card-small-container {
    display: flex;
    min-width: 62vmax;
  }

  .game-board-items {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 526px) {
  .game-board-container {
    min-width: min(90vmin);
    min-height: calc(84.5vmin + 40px);
  }

  .player-card {
    display: none;
  }
  .player-card-small-container {
    display: flex;
    min-width: min(62vmax, 92vw);
    margin-top: 40px;
  }

  .game-board-items {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 440px) {
  .game-board-container {
    min-width: min(95vmin);
    min-height: calc(89vmin + 40px);
  }

  .player-card {
    display: none;
  }
  .player-card-small-container {
    display: flex;
    min-width: min(62vmax, 92vw);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .game-board-items {
    margin-top: 0px;
  }
}

@media only screen and (max-height: 741px) {
  .player-card-small-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* @media screen and (min-width: 810px) and (min-height: 1100px) { */
/* 768x1024 */
@media screen and (min-width: 768px) and (min-height: 1024px) {
  .game-board-container {
    min-width: min(82vmin);
    min-height: calc(77vmin + 40px);
  }
  .player-card {
    display: none;
  }

  .player-card-small-container {
    display: flex;
    min-width: min(62vmax, 92vw);
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .game-board-items {
    margin-top: 5px;
  }
}

.white-board {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: -1;
}

.black-board {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: -3;
}

.bottom-plate {
  position: absolute;
  bottom: 0;
  left: 0px;
  top: 68vh;
  height: 32vh;
  width: 100%;
  z-index: -1000;
  background-color: var(--game-background-color2);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.bottom-plate.yellow {
  background-color: var(--player2-color);

  background: rgb(254, 255, 103);
  background: linear-gradient(
    0deg,
    rgba(254, 255, 103, 1) 0%,
    rgba(255, 225, 103, 1) 82%
  );
}

.bottom-plate.red {
  background-color: var(--player1-color);
}

@keyframes move-0 {
  0% {
    top: 0;
  }
  90% {
    top: 78%;
  }
  95% {
    top: 50%;
  }
  100% {
    top: 78%;
  }
}

@keyframes move-1 {
  0% {
    top: 0;
  }
  100% {
    top: 63%;
  }
}

@keyframes move-2 {
  0% {
    top: 0;
  }
  100% {
    top: 48%;
  }
}

@keyframes move-3 {
  0% {
    top: 0;
  }
  100% {
    top: 33%;
  }
}

@keyframes move-4 {
  0% {
    top: 0;
  }
  100% {
    top: 18%;
  }
}

@keyframes move-5 {
  0% {
    top: 0;
  }
  100% {
    top: 3%;
  }
}

.dropzone {
  position: absolute;
  top: 0px;
  left: 0;
  height: 40px;
}

.drop-column {
  height: 100%;
  width: 100%;
}

.red:hover {
  background-image: url("assets/small-caret-red.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.yellow:hover {
  background-image: url("assets/small-caret-yellow.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.caret-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-width: 199px;
  min-height: 164px;
  width: 30vmin;
  height: 25vmin;
  padding-block: 5vmin;
}

.win-count {
  font-size: 2rem;
}

.winner-card {
  position: absolute;
  top: calc(100vh - 190px - 20px) !important;
  left: calc(100vw / 2 - 160px) !important;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  width: 320px;
  height: auto;
}

.caret-container.red {
  background-image: url("assets/red-caret.svg");
}

.caret-container.yellow {
  color: black;
  background-image: url("assets/yellow-caret.svg");
}

.line-height-regular {
  line-height: 1.2rem;
}

.winner-name-text-container {
  padding-top: 8px;
}

select {
  outline: 0;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 4px;
  border-radius: 9px;
  font-size: 1rem;
}

select.widthHeight::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

select.style::-webkit-scrollbar-track {
  border: white;
  background-color: var(--game-background-color2);
}

select.style::-webkit-scrollbar-thumb {
  background-color: var(--game-background-color1);
  border: 1px solid white;
  border-radius: 5px;
}

option:checked {
  background-color: var(--game-background-color1) !important;
}

option:active {
  background-color: var(--game-background-color1) !important;
}

option:hover {
  background-color: var(--game-background-color1) !important;
}
option {
  /* height: 30px; */
  border-radius: 100px;
  text-align: center;
  /* padding-left: 30px; */
}

option::selection {
  background-color: var(--game-background-color1) !important;
}

option:focus {
  background-color: var(--game-background-color1) !important;
}

option:active {
  background-color: var(--game-background-color1) !important;
}

input[type="text"] {
  background-color: black;
  text-align: center;
  border: 0;
  border-radius: 100px;
  font-size: 1rem;
}

input[type="checkbox"] {
  display: grid;
  width: 1rem;
  height: 1rem;
  place-content: center;
  accent-color: black;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.toggle-wrapper input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-wrapper label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: black;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle-wrapper label:after {
  content: "";
  position: absolute;
  top: 3.5px;
  left: 5px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 30px;
  transition: 0.3s;
}

.toggle-wrapper input:checked + label {
  background: black;
}

.toggle-wrapper input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle-wrapper label:active:after {
  width: 25px;
}

.player-card {
  background-color: white;
  width: 150px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0 12px 0 black;
}

.player-card-small {
  background-color: white;
  width: 35vmin;
  height: 65px;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 0 12px 0 black;
}
