#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.white-board {
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 1;
}

.black-board {
  position: absolute;
  top: 205px;
  left: 100px;
}

.orange-piece {
  position: absolute;
  top: 218px;
  left: 205px;
}

.orange-piece2 {
  position: absolute;
  top: 305px;
  left: 205px;

  transition: top 2s;

  /* transition: transform 2.5s;
  transform: translate(657px, 205px); */
}

.drop {
  /* //top: 653px; */
}

.orig {
  position: absolute;
  /* transition: top 2s; */

  /* this works */
  /* animation: pulse 1s infinite; */

  animation-iteration-count: 1;
  animation-name: pulse;
  animation-duration: 0.5s;

  top: 218px;
  left: 205px;
}

@keyframes move-0 {
  0% {
    top: 218px;
  }
  100% {
    top: 653px;
  }
}

@keyframes move-1 {
  0% {
    top: 218px;
  }
  100% {
    top: 565px;
  }
}

@keyframes move-2 {
  0% {
    top: 218px;
  }
  100% {
    top: 477px;
  }
}

@keyframes move-3 {
  0% {
    top: 218px;
  }
  100% {
    top: 389px;
  }
}

@keyframes move-4 {
  0% {
    top: 218px;
  }
  100% {
    top: 301px;
  }
}

@keyframes move-5 {
  0% {
    top: 218px;
  }
  100% {
    top: 213px;
  }
}

/* 87 */

.orange-piece3 {
  position: absolute;
  top: 218px;
  left: 293px;
}

.orange-piece4 {
  position: absolute;
  top: 218px;
  left: 381px;
}

.orange-piece5 {
  position: absolute;
  top: 218px;
  left: 469px;
}

.orange-piece6 {
  position: absolute;
  top: 218px;
  left: 557px;
}

.orange-piece7 {
  position: absolute;
  top: 218px;
  left: 645px;
}

.dropzone {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 112px;
  left: 104px;
  width: 621px;
  height: 100px;
}

.drop-column {
  height: 100%;
  width: 100%;
}

.red:hover {
  background-image: url("assets/orange-piece.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.yellow:hover {
  background-image: url("assets/yellow-piece.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
