*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-family: "Space Grotesk", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  --game-background-color1: #7945ff;
  --game-background-color2: #5c2dd5;
  --accent-color: #fd6687;

  background-color: var(--game-background-color1);
}
